@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-iso: var(--font-rubik-iso); /* header outline font */
	--font-glitch: var(--font-rubik-glitch); /* header filled font */
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	overflow: hidden; /* Hide scrollbars */
	cursor: wait;
}
